name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'
  workflow_dispatch:

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  macos-26:
    name: macOS
    runs-on: macos-26
    strategy:
      matrix:
        xcode:
          - '26.2'
    steps:
      - uses: actions/checkout@v5
      - name: Select Xcode ${{ matrix.xcode }}
        run: sudo xcode-select -s /Applications/Xcode_${{ matrix.xcode }}.app
      - name: Build
        run: swift build

  linux:
    name: Linux
    runs-on: ubuntu-latest
    strategy:
      matrix:
        swift:
          - '6.2.3'
    steps:
      - uses: actions/checkout@v5
      - name: Install Swift ${{ matrix.swift }}
        uses: swift-actions/setup-swift@v3
        with:
          swift-version: ${{ matrix.swift }}
      - name: Build
        run: swift build
